body {font-family: 'IBM Plex Mono', monospace; margin: 0 auto; line-height: 2em; padding: 12px; box-sizing: border-box; color: #333; overflow: auto;
background: #ffffff;
}

body, html {height: 100%;}

/* #page1{} */
article{
  padding: 50px 100px 100px 100px; 
}

p {
  font-size: 18px;
  /* line-height: 20px; */

}
@media only screen and (min-width: 600px) {
  h1.draft{
    background-color: #dddddd;

  }

  a{
    color:#0000EE;
    text-decoration:underline;
  }

  h1.cpjam{
    top: 140px;
    font-weight: 600;
    font-size: 60px;
    /* top:auto; */
  }

  h1{
    float:right;
    position: fixed;
    /* top:auto; */
    right: 100px;
    color: black;
  }

  .date{
    float:right;
    position: fixed;
    right: 100px;
    top: 225px
  }
  .time{
    float:right;
    position: fixed;
    right: 100px;
    top: 260px
  }
  .RSVP{
    float:right;
    position: fixed;
    right: 100px;
    top: 300px
  }

.eventName{
  font-weight: 700;
  font-size: 35px;
}
  .codesnip{
    /* background-color: #eeeeee; */
    padding: 25px;
    width:60%;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 15px;

    /* padding: 15px */
  }

}
/* when smaller than 600px */
@media only screen and (max-width: 600px) {
  .header{
    text-align: center;
  }

  h1.cpjam{
    font-size: 60px;
  }
  .codesnip{
    position: inherit;
    /* margin-top: 100px; */
    padding: 30px;
    font-size: 15px;
    /* padding: 50px; */
  }

}


.link{
  text-decoration: underline;
}

.comment{
  color: #aaaaaa;
}

div.line2{
  text-indent: 5%;
}

div.line3{
  text-indent: 10%;
}

#whatDraft{
    margin-left:25%;
    padding: 20px;
    width: 50%;
    text-transform: lowercase;
    font-style: oblique;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

#whatDraft p{
  font-size: 40px;
}

#whatcopo{
  /* margin-left:; */
  padding: 20px;
  /* width: 70%; */
  font-weight: 300;

  line-height: 30px;
}

#whatcopo p{
  font-size: 22px;
}



p.aboutDraft{
  font-weight: 100;
  font-size: 18px !important;
}

h1.draft:hover {
  background-color: yellow;
}

.tldr{
  background: #eeeeee;
  padding: 20px;
  padding-left: 30px;
  padding-right: 35px;
  border-radius: 10px;
  margin-bottom: 40px;
}

/* .divider{
  /* display: block; */
  /* width: auto;
  height: 100px;
  color: red;
  border-top: #cccccc;
  border-color: 3px;
  padding: 10px;
  margin: 100px; */

/* } */

.present{
  /* background: #eeeeee; */
  padding: 5px 10px 5px 20px;
  /* padding-right: 35px; */
  /* padding-left: 30px; */
  /* border-radius: 10px; */
  border-style: solid;
  border-color: #eeeeee;
  margin-bottom: 40px;
}

p.bio{
  font-weight: 700;
  /* font-size: 20px */
}

.coc-line{
    border-style: solid none none none;
    border-color: #dddddd;
    border-width: thin;
    /* margin-bottom: 25px; */
    width:50%;
      margin-left:25%;
}
p.coc{
  /* font-family: inherit; */
  font-weight: 100;
  font-size: 12px !important;
  line-height: 18px;
  color: #555555;
  /* width:50%; */
    margin-left:25px;
    margin-right: 25px;
    padding-top: 20px;
    padding-bottom: 40px;
}

#frameYT{
  width:50%;
  margin-left:25%;

}

.end-line{
    border-style: solid none none none;
    border-color: #dddddd;
    border-width: thin;
    /* margin-bottom: 25px; */
    width:60%;
      /* margin-left:25%; */
}
